<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--Log4j提供的appender有以下几种：-->
    <!--ConsoleAppender 控制台-->
    <!--RollingFileAppender文件大小到达指定尺寸的时候产生新的文件-->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d [%t] %p %logger - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    <!--文件输出-->
    <appender name="LogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/manager.log</File>
        <Append>true</Append>
        <encoder>
            <pattern>%d [%t] %p %logger{0} - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/manager.log.%d{yyyy-MM-dd }</fileNamePattern>
        </rollingPolicy>
    </appender>
    <!--错误日志输出-->
    <appender name="ErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/manager-error.log</File>
        <encoder>
            <pattern>%d [%t] %p %logger{0} - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/-manager-error.log.%d{yyyy-MM-dd }</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="org.mybatis.spring" level="DEBUG"/>
    <logger name="net.sf.ehcache" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="Console"/>
        <appender-ref ref="LogFile"/>
        <appender-ref ref="ErrorFile"/>
    </root>
</configuration>