<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:oauth2="http://www.springframework.org/schema/security/oauth2"
         xmlns:mvc="http://www.springframework.org/schema/mvc"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security-4.1.xsd
                        http://www.springframework.org/schema/security/oauth2
                        http://www.springframework.org/schema/security/spring-security-oauth2-2.0.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

    <!--<debug/>-->

    <!--static url pattern-->
    <!--<http pattern="/resources/**" security="none"/>-->
    <!--<http pattern="/oauth/rest_token" security="none"/>-->

    <!--
    Oauth server start.............
    https://github.com/spring-projects/spring-security-oauth/blob/master/docs/oauth2.md
    -->

    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>

    <http pattern="/oauth/token"
          create-session="stateless"
          authentication-manager-ref="oauth2AuthenticationManager"
          entry-point-ref="oauth2AuthenticationEntryPoint"
          use-expressions="false">
        <intercept-url pattern="/oauth/token" access="IS_AUTHENTICATED_FULLY"/>
        <anonymous enabled="false"/>
        <http-basic entry-point-ref="oauth2AuthenticationEntryPoint"/>

        <custom-filter ref="clientCredentialsTokenEndpointFilter" before="BASIC_AUTH_FILTER"/>
        <access-denied-handler ref="oauth2AccessDeniedHandler"/>
        <csrf disabled="true"/>
    </http>

    <b:bean id="clientCredentialsTokenEndpointFilter"
            class="org.springframework.security.oauth2.provider.client.ClientCredentialsTokenEndpointFilter">
        <b:property name="authenticationManager" ref="oauth2AuthenticationManager"/>
    </b:bean>

    <!--web http configuration-->
    <http pattern="/web/**"
          request-matcher="mvc"
          create-session="never"
          entry-point-ref="oauth2AuthenticationEntryPoint"
          access-decision-manager-ref="oauth2AccessDecisionManager"
          use-expressions="false">
        <anonymous enabled="false"/>

        <intercept-url pattern="/web/**" access="ROLE_WEB,SCOPE_READ"/>

        <custom-filter ref="webResourceServer" before="PRE_AUTH_FILTER"/>
        <access-denied-handler ref="oauth2AccessDeniedHandler"/>
        <csrf disabled="true"/>
    </http>

    <!--mobile http configuration-->
    <http pattern="/m/**"
          request-matcher="mvc"
          create-session="never"
          entry-point-ref="oauth2AuthenticationEntryPoint"
          access-decision-manager-ref="oauth2AccessDecisionManager"
          use-expressions="false">
        <anonymous enabled="false"/>

        <intercept-url pattern="/m/**" access="ROLE_MOBILE,SCOPE_READ"/>

        <custom-filter ref="mobileResourceServer" before="PRE_AUTH_FILTER"/>
        <access-denied-handler ref="oauth2AccessDeniedHandler"/>
        <csrf disabled="true"/>
    </http>

    <!--web resource server filter-->
    <oauth2:resource-server id="webResourceServer" resource-id="web-resource" token-services-ref="tokenServices"/>

    <!--mobile resource server filter-->
    <oauth2:resource-server id="mobileResourceServer" resource-id="mobile-resource" token-services-ref="tokenServices"/>

    <b:bean id="clientDetailsService"
            class="org.community.api.service.CustomJdbcClientDetailsService">
        <b:constructor-arg index="0" ref="dataSource"/>
    </b:bean>

    <!--Config token services  将token信息存放数据库-->
    <!--<beans:bean id="tokenStore" class="org.springframework.security.oauth2.provider.token.InMemoryTokenStore"/>-->
    <b:bean id="tokenStore"
            class="org.springframework.security.oauth2.provider.token.store.JdbcTokenStore">
        <b:constructor-arg index="0" ref="dataSource"/>
    </b:bean>

    <!--TokenServices 需要注入TokenStore-->
    <b:bean id="tokenServices"
            class="org.springframework.security.oauth2.provider.token.DefaultTokenServices">
        <b:property name="tokenStore" ref="tokenStore"/>
        <b:property name="clientDetailsService" ref="clientDetailsService"/>
        <b:property name="supportRefreshToken" value="true"/>
    </b:bean>

    <!--<global-method-security pre-post-annotations="enabled" proxy-target-class="true">-->
    <!--<expression-handler ref="oauth2ExpressionHandler"/>-->
    <!--</global-method-security>-->

    <!--<oauth2:expression-handler id="oauth2ExpressionHandler"/>-->
    <!--<oauth2:web-expression-handler id="oauth2WebExpressionHandler"/>-->

    <b:bean id="oAuth2RequestFactory"
            class="org.springframework.security.oauth2.provider.request.DefaultOAuth2RequestFactory">
        <b:constructor-arg name="clientDetailsService" ref="clientDetailsService"/>
    </b:bean>

    <b:bean id="oauthUserApprovalHandler"
            class="org.community.api.common.OauthUserApprovalHandler">
        <b:property name="tokenStore" ref="tokenStore"/>
        <b:property name="clientDetailsService" ref="clientDetailsService"/>
        <b:property name="requestFactory" ref="oAuth2RequestFactory"/>
        <b:property name="oauthService" ref="oauthService"/>
    </b:bean>

    <b:bean id="jdbcAuthorizationCodeServices"
            class="org.springframework.security.oauth2.provider.code.JdbcAuthorizationCodeServices">
        <b:constructor-arg index="0" ref="dataSource"/>
    </b:bean>

    <oauth2:authorization-server client-details-service-ref="clientDetailsService"
                                 token-services-ref="tokenServices"
                                 user-approval-handler-ref="oauthUserApprovalHandler"
                                 user-approval-page="oauth_approval"
                                 error-page="oauth_error">
        <oauth2:authorization-code authorization-code-services-ref="jdbcAuthorizationCodeServices"/>
        <oauth2:implicit/>
        <oauth2:refresh-token/>
        <oauth2:client-credentials/>
        <oauth2:password/>
    </oauth2:authorization-server>


    <b:bean id="oauth2AuthenticationEntryPoint"
            class="org.springframework.security.oauth2.provider.error.OAuth2AuthenticationEntryPoint"/>

    <!--ClientDetailsUserDetailsService配置, 该类实现了Spring security中 UserDetailsService 接口-->
    <b:bean id="oauth2ClientDetailsUserService"
            class="org.springframework.security.oauth2.provider.client.ClientDetailsUserDetailsService">
        <b:constructor-arg ref="clientDetailsService"/>
    </b:bean>

    <authentication-manager id="oauth2AuthenticationManager">
        <authentication-provider user-service-ref="oauth2ClientDetailsUserService"/>
    </authentication-manager>

    <b:bean id="oauth2AccessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased">
        <b:constructor-arg>
            <b:list>
                <b:bean class="org.springframework.security.oauth2.provider.vote.ScopeVoter"/>
                <b:bean class="org.springframework.security.access.vote.RoleVoter"/>
                <b:bean class="org.springframework.security.access.vote.AuthenticatedVoter"/>
            </b:list>
        </b:constructor-arg>
    </b:bean>


    <b:bean id="oauth2AccessDeniedHandler"
            class="org.springframework.security.oauth2.provider.error.OAuth2AccessDeniedHandler"/>


    <http disable-url-rewriting="true" use-expressions="false"
          authentication-manager-ref="authenticationManager">
        <intercept-url pattern="/oauth/**" access="ROLE_USER,ROLE_WEB,ROLE_MOBILE"/>
        <intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>

        <form-login authentication-failure-url="/login.jsp?authentication_error=1" default-target-url="/index.jsp"
                    login-page="/login.jsp" login-processing-url="/login.do"/>
        <logout logout-success-url="/index.jsp" logout-url="/logout.do"/>
        <access-denied-handler error-page="/login.jsp?authorization_error=2"/>
        <anonymous/>
        <csrf disabled="true"/>
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userService">
            <password-encoder hash="md5"/>
        </authentication-provider>
    </authentication-manager>
</b:beans>